node_modules/
main.js
release/
.test-build/
data.json
.DS_Store
_local/
.obsidian/
!examples/demo-vault/.obsidian/
examples/demo-vault/.obsidian/*
!examples/demo-vault/.obsidian/community-plugins.json
